In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("contacts.csv")
pd.set_option("display.max_columns", None)
data.head()

,First Name,Middle Name,Last Name,Phonetic First Name,Phonetic Middle Name,Phonetic Last Name,Name Prefix,Name Suffix,Nickname,File As,Organization Name,Organization Title,Organization Department,Birthday,Notes,Photo,Labels,E-mail 1 - Label,E-mail 1 - Value,Phone 1 - Label,Phone 1 - Value,Phone 2 - Label,Phone 2 - Value,Phone 3 - Label,Phone 3 - Value,Address 1 - Label,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address
0,~,Lucien,MEHOU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,~ Lucien MEHOU,NaN,NaN,NaN,NaN,NaN,* Other Contacts,NaN,NaN,Mobile,+22953861388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,~dahkenangnon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,~dahkenangnon,NaN,NaN,NaN,NaN,NaN,* Other Contacts,NaN,NaN,Mobile,+2250706673992 ::: +2290141762510 ::: +2290141...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abd,Doc,Magalay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Other Contacts,NaN,NaN,Mobile,+2290166855353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abdul,Koyoum,EHISSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Other Contacts,NaN,NaN,Mobile,+22968560507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abomey Albert Akpagladja,Major,Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Other Contacts,NaN,NaN,Mobile,+22961570114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(540, 34)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   First Name                    497 non-null    object
 1   Middle Name                   65 non-null     object
 2   Last Name                     292 non-null    object
 3   Phonetic First Name           0 non-null      float64
 4   Phonetic Middle Name          0 non-null      float64
 5   Phonetic Last Name            0 non-null      float64
 6   Name Prefix                   16 non-null     object
 7   Name Suffix                   0 non-null      float64
 8   Nickname                      0 non-null      float64
 9   File As                       0 non-null      float64
 10  Organization Name             25 non-null     object
 11  Organization Title            0 non-null      float64
 12  Organization Department       0 non-null      float64
 13  Birthday                      0 non-null      float64
 14  Notes                         0 non-null      float64
 15  Photo                         7 non-null      object
 16  Labels                        540 non-null    object
 17  E-mail 1 - Label              44 non-null     object
 18  E-mail 1 - Value              44 non-null     object
 19  Phone 1 - Label               409 non-null    object
 20  Phone 1 - Value               495 non-null    object
 21  Phone 2 - Label               19 non-null     object
 22  Phone 2 - Value               27 non-null     float64
 23  Phone 3 - Label               3 non-null      object
 24  Phone 3 - Value               3 non-null      float64
 25  Address 1 - Label             0 non-null      float64
 26  Address 1 - Formatted         1 non-null      object
 27  Address 1 - Street            0 non-null      float64
 28  Address 1 - City              0 non-null      float64
 29  Address 1 - PO Box            0 non-null      float64
 30  Address 1 - Region            0 non-null      float64
 31  Address 1 - Postal Code       0 non-null      float64
 32  Address 1 - Country           1 non-null      object
 33  Address 1 - Extended Address  0 non-null      float64
dtypes: float64(19), object(15)
memory usage: 143.6+ KB

In [9]:
phone_numbers = data[["Phone 1 - Value","Phone 2 - Value","Phone 3 - Value"]]
phone_numbers.sample(10)

               Phone 1 - Value  Phone 2 - Value  Phone 3 - Value
191  66153202 ::: +22966153202              NaN              NaN
400               +22964453497              NaN              NaN
270               +22964337424              NaN              NaN
188                        NaN              NaN              NaN
37                +22960613472              NaN              NaN
281               +22960385969              NaN              NaN
404               +22997716737              NaN              NaN
146               +22997778519     2.295570e+10              NaN
427               +22969907573              NaN              NaN
483  61917133 ::: +22961917133              NaN              NaN

In [11]:
phone_numbers.iloc(191)

ValueError: No axis named 191 for object type DataFrame